<template name="Navbar">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Time Tracker</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    {{#if currentUser}}
                        <li class="{{isActive '/'}}"><a href="/">Home</a></li>
                        <li class="{{isActive '/summary'}}"><a href="{{pathFor 'Summary'}}">Summary</a></li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                My Account <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">My Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#" id="logout">Sign Out</a></li>
                            </ul>
                        </li>
                    {{else}}
                        <li class="{{isActive '/sign-in'}}"><a href="/sign-in">Login</a></li>
                    {{/if}}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

</template>