.task-list button {
    margin-top: 20px;
    margin-right: 10px;
}

.task-list i {
    margin-right: 5px;
}

.btn.note {
    margin: 0 0 0 12px;
}

.project-header button {
    width: 150px;
    margin-bottom: 15px;
}

#project-name, .task-name {
    border: none;
    font-size: 30px;
    cursor: auto;
    width: 100%;
    margin: 10px 0;
}
.task-name {
    font-size: 20px !important;
    margin-bottom: 10px;
}
#project-name:focus, .task-name:focus {
    outline: 0;
}

.archived-projects {
    display: none;
}

.task-done input, .task-done p {
    text-decoration: line-through;
    color: #aaa;
}