<template name="Dashboard">

    <div class="col-md-3">
        <h2>Projects</h2>

        <div class="input-group">
            <input type="text" class="form-control" id="add-project-text">
            <div class="input-group-btn">
                <button type="button" class="btn btn-primary" id="add-project">Add</button>
            </div>
        </div>

        <hr/>

        <ul class="nav nav-pills nav-stacked">
            {{#each projects}}
                <li role="presentation" class="{{activeProject}}">
                    <a href="#" class="project-nav" data-project_id="{{_id}}">{{name}}</a>
                </li>
            {{/each}}
            <li role="presentation"><a href="#" id="show-archived">
                <i class="fa fa-plus-circle show-icon"></i> {{showArchivedText}}</a>
            </li>
        </ul>
        <div class="archived-projects">
            <ul class="nav nav-pills nav-stacked">
                {{#each archivedProjects}}
                    <li role="presentation" class="{{activeProject}}">
                        <a href="#" class="project-nav" data-project_id="{{_id}}">{{name}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>

        <hr/>

    </div>

    <div class="col-md-9">


        {{#if currentProject}}
            <section class="row project-header">
                <div class="col-md-9">
                    <input type="text" id="project-name" value="{{currentProject.name}}"/>
                    <h4>Total Time: {{projectTotalTime}}</h4>
                </div>
                <div class="col-md-3 text-right">
                    <button type="button" class="btn btn-primary" id="archive-project">{{archiveVerb}} Project</button>
                    <button type="button" class="btn btn-danger" id="delete-project">Delete Project</button>
                </div>

            </section>

            <br/><br/>

            <div class="input-group">
                <input type="text" class="form-control" placeholder="Add a Task Here..." id="add-task-text">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary" id="add-task">Add Task</button>
                </div>
            </div>
        {{else}}
            <h3 class="text-center">Please Select or Add Project from the Menu on the left.</h3>
        {{/if}}


        <hr/>

        <ul class="list-group">
            {{#each tasks}}
                <li class="list-group-item task-list {{taskDone _id}}">
                    <section class="row">
                        <div class="col-md-1">
                            {{#if currentlyTrackingOnTask _id}}
                                <button type="button" class="btn btn-warning start-button"
                                    {{startDisabled _id}} data-task_id="{{_id}}">End</button>
                            {{else}}
                                <button type="button" class="btn btn-primary start-button"
                                    {{startDisabled _id}} data-task_id="{{_id}}">Start</button>
                            {{/if}}
                        </div>
                        <div class="col-md-7">
                            <input type="text" class="task-name" data-task_id="{{_id}}" value="{{name}}"/>
                            <p class="task-time">
                                Time: {{taskTotalTimeText _id}}
                                <button type="button" class="btn btn-primary btn-xs note">
                                    <i class="fa fa-sticky-note-o"></i> Notes
                                </button>
                            </p>
                        </div>
                        <div class="col-md-4 text-right">
                            <button type="button" class="btn btn-{{doneStyle _id}} done-task" data-task_id="{{_id}}">
                                {{doneVerb _id}}
                            </button>
                            <button type="button" class="btn btn-danger delete-task" data-task_id="{{_id}}">
                                Delete
                            </button>
                            <i class="fa fa-arrow-circle-up task-up" data-task_id="{{_id}}"></i>
                            <i class="fa fa-arrow-circle-down task-down" data-task_id="{{_id}}"></i>
                        </div>
                    </section>
                </li>
            {{/each}}
        </ul>

    </div>

</template>